{% extends "layouts/application.html" %}

{% block content %}
  <h1>Сайт: {{ url.name }}</h1>
  <table class="table table-bordered" data-test="url">
    <tbody>
      <tr>
        <td>ID</td>
        <td>{{ url.id }}</td>
      </tr>
      <tr>
        <td>Имя</td>
        <td>{{ url.name }}</td>
      </tr>
      <tr>
        <td>Дата создания</td>
        <td>{{ url.created_at.strftime('%Y-%m-%d') }}</td>
      </tr>
    </tbody>
  </table>

  <h2>Проверки</h2>

  <form method="post" action="{{ url_for('url_checks_create', id=url.id) }}" class="mb-4">
    <input type="submit" value="Запустить проверку" class="btn btn-primary">
  </form>

  <table class="table table-bordered" data-test="checks">
    <thead>
      <tr>
        <th>ID</th>
        <th>Код ответа</th>
        <th>h1</th>
        <th>title</th>
        <th>description</th>
        <th>Дата создания</th>
      </tr>
    </thead>
    <tbody>
      {% for check in checks %}
        <tr>
          <td>{{ check.id }}</td>
          <td>{{ check.status_code or '' }}</td>
          <td>{{ check.h1|truncate_seo }}</td>
          <td>{{ check.title|truncate_seo }}</td>
          <td>{{ check.description|truncate_seo }}</td>
          <td>{{ check.created_at.strftime('%Y-%m-%d') }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
