{% extends "layouts/application.html" %}

{% block content %}
  <div class="p-5 bg-body-tertiary rounded-3">
    <h1 class="display-3">Анализатор страниц</h1>
    <p class="lead">Бесплатно проверяйте сайты на SEO-пригодность</p>
    <form action="/urls" method="post" class="row g-2">
      <div class="col-auto flex-grow-1">
        <input
          type="url"
          name="url"
          class="form-control form-control-lg"
          placeholder="https://www.example.com"
          required
        >
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary btn-lg text-uppercase">
          Проверить
        </button>
      </div>
    </form>
  </div>
{% endblock %}
