{% extends "layouts/application.html" %}

{% block content %}
  <div class="p-5 bg-body-tertiary rounded-3">
    <h1 class="display-3">Анализатор страниц</h1>
    <p class="lead">Бесплатно проверяйте сайты на SEO-пригодность</p>
    <form action="{{ url_for('urls_create') }}" method="post" class="row g-2">
      <div class="col-auto flex-grow-1">
        <input
          type="text"
          name="url"
          value="{{ url or '' }}"
          class="form-control form-control-lg{% if url is defined and url %} is-invalid{% endif %}"
          placeholder="https://www.example.com"
        >
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary btn-lg text-uppercase">
          Проверить
        </button>
      </div>
    </form>
  </div>
{% endblock %}
